#contenedor {
    width: 50%;
    margin: auto;
    padding-top: 50px;
}

#CajaFormu {
    float: left;
    padding: 20px;
    border: 1px solid seagreen;
}

#zonaDatos {
    float: left;
    width: 300px;
    margin-left: 20px;
    padding: 20px;
    border: 10px solid seagreen;
}

#clave,
#valor {
    width: 180px;
}

#zonaDatos div {
    padding: 15px;
    border-bottom: 3px solid #00F;
}