@charset "utf-8";
/* html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote, figure
figure, img {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; } */

   html, body, div, span, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   abbr, address, cite, code,
   del, dfn, em, img, ins, kbd, q, samp,
   small, strong, sub, sup, var,
   b, i,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section, summary,
   time, mark, audio, video {
       margin:0;
       padding:0;
       border:0;
       outline:0;
       font-size:100%;
       vertical-align:baseline;
       background:transparent;
   }
   
   body {
       line-height:1;
   }
   


   /* fin del reset css */
body{
    font-size: 62.5%;
}
h1{
    font: normal 1.5em 'ALEG';
    background: -webkit-linear-gradient(top, #00F, #0CF);
    width: 35%;
    border-radius: 10px;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
    color: white;
    box-shadow: #00F 10px 10px 10px;
    -webkit-transition-property: text-shadow;
    -webkit-transition-duration: 1s;
    

}
h1:hover{
    text-shadow: white 5px 5px 3px;
}

@font-face {
    font-family: 'ALEG';
    src: url('../HTML/Fuentes/Algerian.ttf');
}

@font-face {
    font-family: 'TNR';
    src: url('../HTML/Fuentes/Times New Roman.ttf');
}
h2{
 font: bold 1.4em 'ALEG';
 margin: 0;
 padding: 5px 0 5px 0;
 color: rgb(0, 0, 151);   
}
section{
    width: 91%;
    border-top: 1px dashed forestgreen;
    margin: 15px auto;
}
figure{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    
}
figure img{
    padding: 4px;
    background-color: rgb(165, 164, 164);
    
    border-radius: 20px;
    -webkit-transition: -webkit-transform 1s ease-in .1s ;
    box-shadow: #999 5px 5px 10px;
}
figure img:hover{
    -webkit-transform: scale(1.1);
}
figcaption{
    font: bold  1.8em 'TNR';
    text-align: center;
    margin-top: 5px;
}
footer{
    clear: left;
    padding-top: 20px;
    

}

footer p{
    font: normal 1.7em 'TNR';
    text-align: center;
    margin: 10px 8px;
}